<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <base href="/">
		<link rel="stylesheet" href="./styles.css" />
    <title>Provisiones Stan</title>
  </head>

  <body>
    <header class="nav-container"><%- include('../partials/navbar')%></header>
    <div class="flex-center">
      <h2>LISTADO DE PRODUCTOS</h2>
      <table>
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Imagen</th>
						<th scope="col">Comprar</th>
          </tr>
        </thead>
        <tbody id="productsTable">
          <% if (productosExist) { %> 
            <% productos.forEach((element) => { %>
							<tr>
								<th scope="row"><%=element.id%></th>
								<td ><%=element.name%></td>
								<td><%=element.price%></td>
								<td>
									<img src="<%=element.thumbnail%>" class="w-50" alt="..." />
								</td>
								<td>
									<form action="/carrito/producto" method="POST">
										<input type="hidden" name="prod_id" value=<%=element.id%>>
										<button type="submit" class="btn-enviar btn-prod">Agregar</button>
									</form>
								</td>
							</tr>
            <%})%> 
          <% }%>
        </tbody>
      </table>
    </div>

    <div ><%- include('../partials/footer')%></div>
  </body>
</html>
