<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./styles.css"/>
  <title>Provisiones Stan</title>
</head>

<body>
  <header class="nav-container"><%- include('../partials/navbar')%></header>
  <div class="flex-center">
    <h1>BIENVENIDX <%=name%></h1>
    <h2>CENTRO DE MENSAJES</h2>

    <div class="d-flex flex-row justify-content-center align-items-center">
      <img src="/uploads/<%=user.image%>" style="height: 250px;">
      <div>
        <h2 class=" text-uppercase">
          <%= user.name %>
        </h2>
        <p>Edad: <%= user.age %>
        </p>
        <p>Direccion: <%= user.address %>
        </p>
        <p>Numero: <%= user.phone %>
        </p>
        </p>
        <p>Email: <%= user.username %>
        </p>
      </div>
    </div>	
	</div>

  <div><%- include('../partials/footer')%></div>
</body>
</html>
